<app-page>
  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <label class="form-label">Select a value:</label>
        <nighthawk-select
          class="mb-2"
          color="primary"
          [options]="options1"
          valueField="value"
          nameField="label"
          [(ngModel)]="selectedOption1Value"
          (ngModelChange)="onSelectOption1()"
          [hasSearch]="true"
          placeholder="Select an option..."
          searchPlaceholder="Search for an option..."
        />
        @if (selectedOption1 && selectedOption1Value) {
        <p>
          Selected value: {{ selectedOption1.label }} (value =
          {{ selectedOption1Value }})
        </p>
        } @else {
        <p>No option selected...</p>
        }
      </div>
      <div class="col">
        <div class="select">
          <label class="form-label">Select a value:</label>
          <nighthawk-select
            class="mb-2"
            color="secondary"
            [options]="options2"
            valueField="value"
            nameField="label"
            [hasSearch]="true"
            (onOptionSelect)="onSelectOption2($event)"
            placeholder="Select an option..."
            searchPlaceholder="Search for an option..."
          />
          @if (selectedOption2 && selectedOption2Value) {
          <p>
            Selected value: {{ selectedOption2?.label }} (value =
            {{ selectedOption2Value }})
          </p>
          } @else {
          <p>No option selected...</p>
          }
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <form class="select" [formGroup]="form">
          <label class="form-label">Select a value:</label>
          <nighthawk-select
            class="mb-2"
            [options]="options3"
            valueField="value"
            nameField="label"
            formControlName="selection"
            [hasSearch]="false"
            placeholder="Select an option..."
          />
          @if (selectedOption3 !== undefined && selectedOption3Value !==
          undefined) {
          <p>
            Selected value: {{ selectedOption3?.label }} (value =
            {{ selectedOption3Value }})
          </p>
          } @else {
          <p>No option selected...</p>
          }
        </form>
      </div>
      <div class="col">
        <label class="form-label">Select a value:</label>
        <nighthawk-select
          class="mb-2"
          color="secondary"
          placeholder="Select disabled"
          [isDisabled]="true"
        />
        <p>Selection disabled...</p>
      </div>
    </div>

    <textarea readonly rows="13">
      <nighthawk-select
          color="primary"                             // primary | secondary | black | white | transparent
          [hasSearch]="true"
          [options]="options1"                        // e.g. { label: 'test', value: 123 }
          valueField="value"
          nameField="label"
          [(ngModel)]="selectedOption1Value"          // Optional data binding
          (ngModelChange)="onSelectOptionValue()"
          formControlName="selectControl"             // Optional data binding
          placeholder="Select an option..."
          searchPlaceholder="Search for an option..."
      / >
    </textarea>
  </div>
</app-page>
