<app-page>
  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <input
          nighthawk-form-control
          [color]="'primary'"
          [size]="'large'"
          [rounded]="true"
          [border]="true"
          [centered]="false"
          [placeholder]="'Primary'"
          [disabled]="false"
        />
      </div>
      <div class="col">
        <input
          nighthawk-form-control
          [color]="'secondary'"
          [size]="'large'"
          [rounded]="true"
          [border]="true"
          [centered]="false"
          [placeholder]="'Secondary'"
          [disabled]="false"
        />
      </div>
      <div class="col">
        <input
          nighthawk-form-control
          [color]="'black'"
          [size]="'large'"
          [rounded]="true"
          [border]="true"
          [centered]="false"
          [placeholder]="'Black'"
          [disabled]="false"
        />
      </div>
      <div class="col">
        <input
          nighthawk-form-control
          [color]="'white'"
          [size]="'large'"
          [rounded]="true"
          [border]="true"
          [centered]="false"
          [placeholder]="'White'"
          [disabled]="false"
        />
      </div>
      <div class="col">
        <input
          nighthawk-form-control
          [color]="'transparent'"
          [size]="'large'"
          [rounded]="true"
          [border]="true"
          [centered]="false"
          [placeholder]="'Transparent'"
          [disabled]="false"
        />
      </div>
    </div>

    <textarea readonly rows="12">
      <button
        nighthawk-form-control
        [color]="'transparent'" // primary | secondary | black | white | transparent
        [size]="'large'"        // small | medium | large
        [border]="true" 
        [rounded]="true" 
        [centered]="false"
        [disabled]="false"
      >
        Label
      </button>
    </textarea>
  </div>
</app-page>
