<div class="page">
  <div class="sidebar">
    <nav>
      <a routerLink="/home">Home</a>
      <a routerLink="/buttons">Buttons</a>
      <a routerLink="/select">Select</a>
      <a routerLink="/forms">Forms</a>
      <a routerLink="/checks">Checks</a>
      <a routerLink="/ranges">Ranges</a>
      <a routerLink="/swiper">Swiper</a>
      <a routerLink="/dialogs">Dialogs</a>
      <a routerLink="/dropdowns">Dropdowns</a>
      <a routerLink="/calendar">Calendar</a>
    </nav>
  </div>
  <div class="contents">
    <ng-content></ng-content>
  </div>
</div>
