.wrapper {
  background-color: #2a33417d;
  padding: 40px;
  margin-bottom: 40px;
  border-radius: 20px;
  border: 1px solid var(--black-color);

  h5 {
    border-bottom: 1px dashed var(--background-color);
    padding-bottom: 12px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
