<app-page>
  <div class="container">
    <nighthawk-swiper
      class="large"
      [config]="bigSwiperConfig"
      (onSlideChange)="debugLog($event)"
    >
      @for (x of [].constructor(5); track x; let idx = $index) {
      <div class="swiper-slide">
        <div class="slide-content">Test slide {{ idx + 1 }}</div>
      </div>
      }
    </nighthawk-swiper>

    <nighthawk-swiper class="small mb-5" [config]="smallSwiperConfig">
      @for (x of [].constructor(12); track x; let idx = $index) {
      <div class="swiper-slide">
        <div class="slide-content">Test slide {{ idx + 1 }}</div>
      </div>
      }
    </nighthawk-swiper>

    <textarea readonly rows="20" class="mb-5">
      public swiperConfig: any = {
        slidesPerView: 2,
        navigation: {
          enabled: true,
        },
        breakpoints: {
          1200: { // bigger than x
            slidesPerView: 4,
          },
        },
      };

      <nighthawk-swiper [config]="swiperConfig" (onSlideChange)="onSlideChange($event)">
        @for (slide of [].constructor(5); track slide) {
          <div class="swiper-slide">
            <div class="slide-content">Test slide</div>
          </div>
        }
      </nighthawk-swiper>
    </textarea>
  </div>
</app-page>
